body {
    background-image: url('../assets/housebackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.usamap {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doorcontainer {
    position: absolute;
    width:100%;
    height:100%;
    overflow: hidden;
}

.topdoor {
    background-color:#3266bacc; 
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 58.19px;
    animation: topdoor 2s; 
}

.bottomdoor {
    background-color: #3266bacc;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: bottomdoor 2s;    
}

@keyframes topdoor {
    from{top:-30%;}
    to{top:0;}
}

@keyframes bottomdoor {
    from{bottom:-30%;}
    to{bottom:0;}
}